/* Header */
/* .site-header {
  background-color: #E9DBBE;
  padding: 0px 20px 0px 0px;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.header p {
  font-size: 24px;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .btn {
  /* display: flex; */
  padding: 0;
}

.logo-icon {
  font-size: 36px;
  margin-right: 10px;
}

.site-description {
  font-size: 14px !important;
  margin-bottom: 0;
}

.site-description img {
  width: 500px;
}

.header-bottom {
  width: 1000px;
  padding-top: 40px;
}

.search-container {
  width: 100%;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  /* border: 1px solid black; */
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  /* border: 1px solid #ccc; */
  margin: 5px;
  height: 30px;
  /* padding: 10px 10px; */
  border-radius: 3px;
}

.search-form input:focus {
  outline: none;
}

.search-btn {
  /* background-color: white; */
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.user-avatar img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.user-email {
  margin: 0;
  font-size: 14px;
  color: #888;
}

/* dark mode icons */
.sun-icon,
.moon-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
}

.sun-icon {
  left: 8px;
}

.moon-icon {
  left: 34px;
  opacity: 0;
}

input:checked+.slider .sun-icon {
  opacity: 0;
}

input:checked+.slider .moon-icon {
  opacity: 1;
}

.two-rows-btn {
  display: flex;
  flex-direction: column;
  /* Arrange content vertically */
  align-items: center;
  /* Center align items horizontally */
  justify-content: center;
  /* Center content vertically */
  text-align: center;
  /* Center align text */
  padding: 10px;
  /* Add some spacing inside the button */
}

.btn-content {
  display: flex;
  flex-direction: column;
  /* Arrange icon and title in two rows */
  align-items: center;
  /* Center align both rows */
}

.btn-icon {
  margin-bottom: 5px;
  /* Add spacing between the icon and the title */
}

.header-btn {
  &:hover {
    transform: scale(1.1);
  }

  /* &:hover::before {
    content: '';
    position: absolute;
    top: -100px; 
    left: 60px; 
    width: 10%; 
    height: 180px; 
    background-color: #EC0017; 
    transform: skew(-20deg); 
    z-index: -1; 
  } */
}

/* Bounce into effect */
.header-transition-enter-active {
  animation: bounce-in 0.4s ease-out;
}

.header-transition-leave-active {
  animation: bounce-out 0.4s ease-out;
}

.header-list {
  top: 34px;
  left: -12px;
}

@keyframes bounce-in {
  0% {
    transform: translateY(-120%);
    opacity: 90%;
  }

  /* 60% {
    transform: translateY(10px);
    opacity: 1;
  } */
  100% {
    transform: translateY(0);
    opacity: 90%;
  }
}

@keyframes bounce-out {
  0% {
    transform: translateY(0);
    opacity: 90%;
  }

  /* 60% {
    transform: translateY(10px);
    opacity: 1;
  } */
  100% {
    transform: translateY(-120%);
    opacity: 0%;
  }
}